body{
	color:#000000;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}
.text{
    margin: 100px auto 0;
    max-width: 500px;
    width: 100%;
    text-align: center;
	color: #ff0000;
}